<!DOCTYPE html>
<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    // Add a request interceptor
    axios.interceptors.request.use(function (config) {
      const token = localStorage.getItem('token')
      config.headers.Authorization = `Bearer ${token}`
      return config;
    }, function (error) {
      // Do something with request error
      return Promise.reject(error);
    });

    // Add a response interceptor
    axios.interceptors.response.use(function (response) {
      const { authorization } = response.headers;
      authorization && localStorage.setItem('token', authorization)
      return response;

    }, function (error) {
      console.log(error.response.status);
      if (error.response.status === 401) {
        localStorage.removeItem('token')
        location.href = '/login'
      }
      return Promise.reject(error);
    });
  </script>
</head>
<style>

</style>

<body>
  <h1>后台系统-用户管理

    <button id="exit">退出登录</button>
  </h1>
  <div style="float: left; margin-right: 50px;">
    <div>用户名:<input id="username" name="username"></div>
    <div>密码:<input type="password" id="password" name="password"></div>
    <div>年龄:<input type="number" id="age" name="age"></div>
    <div><button id="register">添加用户</button></div>
  </div>
  <div>
    <span style="text-align: center; font-weight: bolder;">修改区域</span>
    <div>用户名:<input id="usernameupdate"></div>
    <div>年龄:<input type="number" id="ageupdate"></div>
  </div>

  <div style="margin-top: 90px;"></div>
  <hr>
  <span style="text-align: center; font-weight: bolder;">用户列表</span>
  <table border="1">
    <thead>
      <tr>
        <td>id</td>
        <td>用户名</td>
        <td>年龄</td>
      </tr>
    </thead>
    <tbody>
    </tbody>

  </table>

  <script>

    const logout = document.querySelector('#exit')

    logout.onclick = () => {
      localStorage.removeItem("token")
      location.href = '/login'
    }
    const tbody = document.querySelector('tbody')
    axios.get('home/list').then(res => {
      console.log(res.data);
      tbody.innerHTML = res.data.map(item => `
              <tr>
                <td>${item._id}</td>  
                <td>${item.username}</td>  
                <td>${item.age}</td>
                <td id="${item._id}" style="cursor: pointer;">修改</td>
                <td id="${item._id}" style="cursor: pointer;">删除</td>
              </tr>
            `).join('');
    })



  </script>

</body>

</html>