<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>登录界面</h1>
    <div style="float: left; margin-right: 50px;">
        <div>用户名:<input id="username" name="username"></div>
        <div>密码:<input type="password" id="password" name="password"></div>
        <div><button id="login">登录</button></div>
    </div>
    <script>
        const username = document.querySelector('#username')
        const password = document.querySelector('#password')
        const login = document.querySelector('#login')

        login.onclick = () => {
            fetch('api/user/login', {
                method: 'POST',
                headers: {
                    "Content-Type": 'application/json'
                },
                body: JSON.stringify({
                    username: username.value,
                    password: password.value
                })
            }).then(res => res.json()).then(res => {
                console.log(res);
                if(res.ok ===1) {
                    location.href = '/'
                }else{
                    alert('用户名密码不匹配')
                }
            })
        }
    
    </script>
</body>

</html>